go 1.25

use (
	./libs/aoc_shared

	./libs/blaze
	./libs/echo
	./libs/essence
	./libs/foundation
	./libs/memarch
	./libs/memcore
	./libs/memforge
	./libs/memstruct
	./src
	./src/2025/day1
	./src/2025/day10
	./src/2025/day11
	./src/2025/day12
	./src/2025/day2
	./src/2025/day3
	./src/2025/day4
	./src/2025/day5
	./src/2025/day6
	./src/2025/day7
	./src/2025/day8
	./src/2025/day9
	./tools/input

	./tests
)
